.filtreler{
    border: 1px solid #ddd;
    padding: 12px 0 10px 140px;
    background-color: rgb(241, 236, 236) ;
    margin-top: 70px;   
    font-size: 18px;
}

.filtre{
    font-weight: 700;
}

.cinsiyet{
    font-weight: 400;
    margin-left: 20px;
    border-right: 1px solid black;
    padding-right: 20px;
}

.erkek{
    margin-left: 10px;
}

.kategori{
    font-weight: 400;
    margin-left: 20px;
    padding-right: 20px;
}

.jean{
    margin-left: 10px;
}

.uygula{
    color: black;
    padding: 3px 8px;
    margin-left: 365px;
    font-size: 16px;
    background-color: white;
    border: 1px solid rgb(94, 92, 92);
}

.uygula:hover{
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
}
