.myBasket1{
    width: 220px;
    height: 300px;
    margin-left: 1100px;    
    margin-top: 30px;
    position: fixed;
    border: 2px solid orange;
  }
  
  .myBasket2{
    font-weight: 600;
    font-size: large;
    padding: 5px 0 8px 5px;
    background-color: red;
    border-bottom: 1px solid grey;
    color: white;
  }
  
  .myBasket3{
    float: left;
    margin-right: 20px;
    padding: 2px;
    font-weight: 400;
    font-size: large;
  }
  
  .myBasket4{
    padding: 2px;
    font-weight: 500;
    font-size: large;
  }
  
  .myBasket5{
    width: 210px;
    height: 50px;
    color: red;
    border-top: 1px solid grey;
    margin-left: 1104px;
    margin-top: 300px;
    position: fixed;
    padding: 5px; 
    font-size: large;
  }
  
  .myBasket6{
    margin-right: 30px; 
  }
  
  .myBasket7{
    margin-left: 1100px;
    margin-top: 336px;
    position: fixed;
  }
  
  .myBasket8{
    padding: 8px 61px;
    background-color: rgb(90, 88, 88);
    color: white;
    border: 2px solid orange;
    font-size: large;
  }

  .myBasket8:hover{
    background-color: rgb(54, 53, 53);
    cursor: pointer;
  }