.header{
    background-color: green;
    color: #fff;
    height: 70px;
    width: 100%;
    padding-top: 20px;
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    position: fixed;
    top: 0;
}

