.data1{
    margin-top: 25px;
}

.data4 > div{
    background-color: rgb(147, 214, 245);
    border-bottom: 10px solid blue;
    border-radius: 5px;
    height: 300px;
}

.data5 > div{
    background-color: rgb(215, 248, 173);
    border-bottom: 10px solid green;
    border-radius: 5px;
    height: 300px;
}

.data6 > div{
    background-color: rgb(235, 164, 147);
    border-bottom: 10px solid red;
    border-radius: 5px;
    height: 300px;
}

.data7 > div{
    background-color: rgb(243, 222, 194);
    border-bottom: 10px solid yellow;
    border-radius: 5px;
    height: 300px;
}

.data8{
    padding: 20px;
}

.data8 > div{
    padding: 2px;
}

.data9{
    font-size: 20px;
    font-weight: 600;
}

.data10{
    font-size: 30px;
    font-weight: 600;
}

.data11{
    font-size: 20px;
    font-weight: 600;
}

.data12{
    font-size: 16px;
    color: grey;
}

.data13{
    font-size: 16px;
    font-weight: 600;
}

.data14{
    font-size: 18px;
    font-weight: 700;
}