.html,body{
    background-color: rgb(192, 192, 192);
}

.signup1{
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    width: 40%;
    margin: 25px auto;
    text-align: center;
}

.signup2{
    font-size: 40px;
    font-weight: 400;
    padding: 20px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.signup3{
    margin: 30px 0;
}

.signup3 > input{
    font-size: 24px;
    height: 26px;
    width: 60%;
    border: none;
    border-bottom: 1px solid rgb(196, 195, 195); 
    padding: 0 0 5px 3px;
}

.signup3 > input::placeholder{
    font-size: 24px;
    color: rgb(179, 177, 177);
}

.signup3 > input:focus{
    outline: none;
}

.signup3 > div{
    color: red;
    height: 20px;
}

.signup4{
    position: absolute;
    z-index: 10;
    margin-left: -25px;
}

.signup5{
    height: 25px;
    width: 25px;
    color: rgb(179, 177, 177);
}

.signup5:hover{
    cursor: pointer;
}

.signup6{
    font-size: 24px;
    height: 36px;
    width: 100px;
    background-color: green;
    color: white;
    border: 1px solid green;
    border-radius: 5px;
}

.signup6:hover{
    background-color: rgb(0, 75, 0);
    cursor: pointer;
}

.anasayfa{
    text-align: center;
    margin-top: 100px;
    font-size: 100px;
    color: orangered;
    font-weight: 600;
}